.not-found{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.not-found h1{
    font-size:90px;
    color:#1976d2;
}

.not-found h2{
    margin:20px 0;
}

.not-found button{
    margin-top:20px;
    padding:12px 30px;
    background:#1976d2;
    color:white;
    border-radius:8px;
}